.note {
    color: #A9A9A9;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: cornflowerblue;
    --bs-btn-border-color: cornflowerblue;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #557fc9;
    --bs-btn-hover-border-color: #557fc9;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #557fc9;
    --bs-btn-active-border-color: #557fc9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #7ba5f0;
    --bs-btn-disabled-border-color: #7ba5f0;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3CB371;
    --bs-btn-border-color: #3CB371;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #339860;
    --bs-btn-hover-border-color: #339860;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #339860;
    --bs-btn-active-border-color: #339860;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #59be86;
    --bs-btn-disabled-border-color: #59be86;
}

.body, html {
    height: 100vh;
    min-height: 100vh;
    background-color: #F5F5DC;
    color: #333333;
}

#root {
    height: 100vh;
    background-color: inherit;
}

header {
    flex: 0 50px;
    background-color: cornflowerblue;
}

main {
    flex: 1;
}

footer {
    flex: 0 30px;
    background-color: cornflowerblue;
    border-top: var(--bs-border-width) solid #333333;
}

footer > p {
    margin: 0;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #333333;
    --bs-nav-tabs-link-active-color: #F5F5DC;
    border-bottom: var(--bs-nav-tabs-border-width) solid #333333;
}

.nav-link {
    color: #333333;
}

.nav-tabs .nav-link:hover:not(.active), .nav-tabs .nav-link:focus:not(.active) {
    isolation: isolate;
    border-color: #333333;
    color: #F5F5DC;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #F5F5DC;
    border-color: #333333;
    border-bottom: var(--bs-nav-tabs-border-width) solid #F5F5DC;
    color: cornflowerblue;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    color: #333333;
}

.login {
    text-align: center;
}

.form-control {
    margin: 7px;
    margin-left: 0;
}

.form-select {
    margin: 7px;
    margin-left: 0;
}

.date-select ~ select {
    width: 5%;
}

button.form-control {
    margin-top: 0px;
}

.card-footer > button {
    margin-left: 0;
}

.card-body {
    text-align: center;
}

div.card.product {
    width: 250px; /* change this based on screen size */
    margin: 0 auto;
    margin-top: 10px;
}

.align-div {
    width: fit-content;
    margin: 0 auto;
    margin-top: 5%;
}

div:not([class]) {
    height: fit-content;
    width: fit-content;
}

.search-bar {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.table {
    --bs-table-bg: #F5F5DC;
    --bs-table-border-color: #333333;
}

td {
    vertical-align: middle;
}

.profile-pic {
    height: 200px;
    margin: 10px;
}

.cart-text {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

.checkout-cart {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

.item-display {
    width: 33%;
    text-align: center;
    margin: 10px;
}

.profile-img-row-style {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.profile-button {
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.error-text {
    color: #F28B82;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.measurement-pic { /* Make this and profile-pic scale with screen size with the calc() function */
    height: 400px;
    width: 400px;
}

.chat-container {
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px; /* scale with screen size */
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-header {
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
}

.chat-container-admin {
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px; /* scale with screen size */
}

.message-area {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    color: #333333;
    max-height: 300px; /* scale with screen size */
}

.message {
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 80%;
    overflow-wrap: break-word;
}

.sender {
    background-color: #e2f0ff;
    align-self: flex-end;
}

.receiver {
    background-color: #ffffff;
    align-self: flex-start;
}

.input-container {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
}

[id^="message-input"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.address-info {
    margin-bottom: 0;
}

@media (min-width: 800px) {
    .three-div {
        flex-direction: row  !important;
    }

    .details-div {
        flex-direction: row !important;
    }
}

@media (max-width: 800px) {
    .three-div {
        flex-direction: column  !important;
    }

    .details-div {
        flex-direction: column !important;
    }

    .profile-button {
        margin-bottom: 5px;
    }
}

@media (max-width: 1050px) {
    .img-opt-1 {
        display: none;
    }
}

@media (max-width: 760px) {
    .img-opt-2 {
        display: none;
    }
}

@media (max-width: 500px) {
    .opt-item-head {
        display: none;
    }

    .opt-item-foot {
        display: block;
    }

    footer {
        text-align: center;
    }
}

@media (min-width: 500px) {
    .opt-item-head {
        display: block;
    }

    .opt-item-foot {
        display: none;
    }

    footer {
        text-align: left;
    }
}