.note {
    color: #A9A9A9;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: cornflowerblue;
    --bs-btn-border-color: cornflowerblue;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #557fc9;
    --bs-btn-hover-border-color: #557fc9;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #557fc9;
    --bs-btn-active-border-color: #557fc9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #7ba5f0;
    --bs-btn-disabled-border-color: #7ba5f0;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3CB371;
    --bs-btn-border-color: #3CB371;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #339860;
    --bs-btn-hover-border-color: #339860;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #339860;
    --bs-btn-active-border-color: #339860;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #59be86;
    --bs-btn-disabled-border-color: #59be86;
}

.body {
    height: 100vh;
    background-color: #F5F5DC;
    color: #333333;
}

header {
    flex: 0 50px;
    background-color: cornflowerblue;
}

main {
    flex: 1;
}

footer {
    flex: 0 30px;
    background-color: cornflowerblue;
    border-top: var(--bs-border-width) solid #333333;
}

footer > p {
    margin: 0;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #333333;
    --bs-nav-tabs-link-active-color: #F5F5DC;
    border-bottom: var(--bs-nav-tabs-border-width) solid #333333;
}

.nav-link {
    color: #333333;
}

.nav-tabs .nav-link:hover:not(.active), .nav-tabs .nav-link:focus:not(.active) {
    isolation: isolate;
    border-color: #333333;
    color: #F5F5DC;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #F5F5DC;
    border-color: #333333;
    border-bottom: var(--bs-nav-tabs-border-width) solid #F5F5DC;
    color: cornflowerblue;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    color: #333333;
}

.login {
    text-align: center;
}

.form-control {
    margin: 7px;
    margin-left: 0;
}

.form-select {
    margin: 7px;
    margin-left: 0;
}

.date-select ~ select {
    width: 5%;
}

button.form-control {
    margin-top: 0px;
}

.card-footer > button {
    margin-left: 0;
}

.card-body {
    text-align: center;
}

div.card {
    width: 250px; /* change this based on screen size */
    margin: 0 auto;
    margin-top: 10px;
}

.align-div {
    width: fit-content;
    margin: 0 auto;
    margin-top: 5%;
}

div.profile-box {
    flex: 1;
    margin-top: 0;
}

div:not([class]) {
    height: fit-content;
    width: fit-content;
}

.search-bar {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.table {
    --bs-table-bg: #F5F5DC;
    --bs-table-border-color: #333333;
}

td {
    vertical-align: middle;
}

.profile-pic {
    height: 200px;
    margin: 10px;
}

@media (min-width: 800px) {
    .three-div {
        flex-direction: row  !important;
    }

    .details-div {
        flex-direction: row !important;
    }

    .profile-div {
        flex-direction: row !important;
    }
}

@media (max-width: 800px) {
    .three-div {
        flex-direction: column  !important;
    }

    .details-div {
        flex-direction: column !important;
    }

    .profile-div {
        flex-direction: column !important;
    }

    .profile-button {
        margin-bottom: 5px;
    }
}

@media (max-width: 1050px) {
    .img-opt-1 {
        display: none;
    }
}

@media (max-width: 760px) {
    .img-opt-2 {
        display: none;
    }
}

@media (max-width: 500px) {
    .opt-item-head {
        display: none;
    }

    .opt-item-foot {
        display: block;
    }

    footer {
        text-align: center;
    }
}

@media (min-width: 500px) {
    .opt-item-head {
        display: block;
    }

    .opt-item-foot {
        display: none;
    }

    footer {
        text-align: left;
    }
}